/* clases generales */
body{
    background-color: #f1c0c0 ;
    color: #ff8686 ;
}

/* grid */
section {

    /* despliégate como grid */
    display: grid;
    /* crea 12 columnas cada una de una fracción usando la función repeat */
    grid-template-columns: repeat(12, 1fr);
    /* deja que las filas (renglones) ocupen el alto que necesitan*/
    grid-auto-rows: auto;
    /* añade un espacio entre los elementos del grid de 3rem */
    gap: 3rem;
}
section>header {
    /* esta sección se extenderá 12 columnas. */
    grid-column: span 12;
}

section>main {
    /* esta sección se extenderá 8 columnas. */
    grid-column: span 8;
}

section>aside {
    /* esta sección se extenderá 4 columnas. */
    grid-column: span 4;
}

section>footer {
    /* esta sección se extenderá 12 columnas. */
    grid-column: span 12;
}

/* termina grid */

article{
    background-color: rgb(198, 239, 252);
    padding: 1.5rem;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #FFFFFF;
}

#titulo_del_blog{
    text-align: center;
    font-size: 3rem;
}

/* Terminan clases generales */

/* Barra de navegación */

.resaltado {
    color: #FFFF00
}

nav>ul>li{
    color: #FFFF00;
    list-style: none;
}

nav>ul>li>a :hover{
    text-decoration: underline;
    color: greenyellow; 
}

/* Fin Barra de navegación  */

/* Footer del blogg */
#footer_blog {
    margin: 2rem;
}

/* Fin del footer del blog  */

/* ilustracion */

.ilustracion {
    border-width: 4px;
    border-style: solid;
    border-color: #ffc7ff;
    display: inline-block;
}

.ilustracion figcaption {
    margin-top: 1rem;
    margin-left: 1rem;
    font-style: italic;
}

/* Fin de ilustracion */